
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: extra-bold;
  font-style: normal;
}

.container {
    margin: 50px auto;
    padding: 115px 52px;
    width: 550px;
    height: 550px;
    background-color: #ecfdf5;
}

.top-title {
    font-size: 30px;
    color: #2B283A;
    margin-bottom: 10px;
    font-size: 40px;
}

.top-title .green-text {
    color: #10b981;
}

.container p {
    color: #6b7280;
    margin-bottom: 51px;
    font-size: 20px;
}

button {
    width: 191px;
    height: 42px;
    background-color: #10b981;
    color: white;
    border: none;
    border-radius: 6px;
    margin-bottom: 35px;
    font-size: 16px;
}

button:active{
    transform: scale(0.98);
    box-shadow: 3px 2px 12px 1px rgba(50, 45, 45, 0.24);;
}
.container .line {
    width: 446px;
    height: 1px;
    border-bottom: 1px solid #d5d4d8;
    margin-bottom: 35px;
}

.pwd-wrapper {
    display: flex;
    gap: 24px;
}

.passwords {
    display: inline-block;
    width: 221px;
    height: 39px;
    background-color: #273549;
    border-radius: 6px;
    text-align: center;
    font-size: 16px;
    line-height: 39px;
}

.passwords p {
    color: rgb(179, 193, 178);
}
